<div class="landing-container">

  <div class="landing-content">
    <h1>Find furry friends for your pups</h1>
    <p>Meet other dogs (and dog lovers!) through this website for fun play dates!</p>
  </div>

  <div class="landing-content sign-up-form">
    <p class="sign-up-form__title">Username</p>
    <input class="sign-up-form__input" type="text"></input>

    <p class="sign-up-form__title">Email</p>
    <input class="sign-up-form__input" type="text"></input>

    <p class="sign-up-form__title">Password</p>
    <input class="sign-up-form__input" type="text"></input>
    <p class="sign-up-form__caption">Make sure it's at least 8 characters including a number and a lowercase letter.</p>

    <a class="button" href="#">Sign up for Meet Pup</a>
    <p class="sign-up-form__caption">By clicking "Sign up for Meet Pup", you agree to our <a class="link-inline" href="#">Terms of Service</a> and <a class="link-inline" href="#">Privacy Statement</a>.</p>
  </div>

</div>
