<div class="landing-container">

  <div class="landing-content">
    <h1>Find furry friends for your pups</h1>
    <p>Meet other dogs (and dog lovers!) through this website for fun play dates!</p>
  </div>

  <!-- Fix me: Can't seem to add class to render tags -->
  <div class="landing-content">
    <%= render 'users/signup' %>
  </div>

</div>
