<div class="account-info">
  <h2>Account information</h2>
  <div class="account-info-content">
    <div class="account-info-content__entry">
      <p class="entry__header">Username</p>
      <p class="entry__data"><%= @user.username %></p>
    </div>
    <div class="account-info-content__entry">
      <p class="entry__header">Email</p>
      <p class="entry__data"><%= @user.email %></p>
    </div>
    <div class="account-info-content__entry">
      <p class="entry__header">Password</p>
      <p class="entry__data"><%= @user.password %></p>
    </div>
  </div>
</div>
