<div class="dashboard container">
  <div class="dashboard-section">
    <h2 class="dashboard-section__title page-title">Dogs near me</h2>
    <div class="display-panel">
      <% @dogs.each do | dog | %>
        <%= render 'dogs/tile', dog: dog %>
      <% end %>
    </div>
  </div>

</div>
