<div class="landing-container">

  <div class="landing-content">
    <div class="landing-intro">
      <h1 class="landing-intro__logo">Meet Pup</h1>
      <h2 class="landing-intro__heading">Find furry friends for your pups</h2>
      <p class="landing-intro__text">Join Meet Pup today to meet other dogs and dog lovers for exciting play dates!</p>
    </div>
  </div>

  <!-- Fix me: Can't seem to add class to render tags -->
  <div class="landing-content">
    <%= render 'users/signup' %>
  </div>

</div>
