<div class="landing-container container">

  <div class="landing-content wide-screen-width-55 vertical-align">
    <div class="landing-intro">
      <h1 class="landing-intro__logo">Meet Pup</h1>
      <h2 class="landing-intro__heading">Find furry friends for your pups</h2>
      <p class="landing-intro__text">Join Meet Pup today to meet other dogs and dog lovers for exciting play dates!</p>
      <p class="landing-intro__text--alternative">Already have an account? <%= link_to "Log in", root_path, class: "link-inline" %> now!</p>
    </div>
  </div>

  <!-- Fix me: Can't seem to add class to render tags -->
  <div class="landing-content wide-screen-width-45">
    <%= render 'users/signup' %>
  </div>

</div>
