/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --colour--background: #ffddbb; /* light orange*/
  --colour--primary: #dd7715; /* dark orange */
  --colour--accent: #aa3300; /* dark red */

  --colour--links: #0051ba; /* blue */
  --colour--links__hover: #f57818; /* orange */

  --ff--primary: 'Ubuntu', sans-serif;
}

body {
  font-family: var(--ff--primary);
  color: var(--colour--accent);
}

h1,
h2,
h3,
p {
  margin: 0;
}

.link-inline {
  color: var(--colour--links);
  text-decoration: none;
  padding-bottom: 0.1em;
  border-bottom: 1px solid var(--colour--links);
}

.link-inline:hover,
.link-inline:active {
  color: var(--colour--links__hover);
  border-bottom: 1px solid var(--colour--links__hover);
}

a.button {
  text-decoration: none;
}

.button {
  font-size: inherit;
  padding: 0.5em 1em;
  border: none;
  border-radius: 2px;
}

.button-add,
.button-edit,
.button-save {
  background: var(--colour--primary);
  color: white;
  margin-top: 0.5em;
}

.button-add:hover,
.button-add:active,
.button-edit:hover,
.button-edit:active,
.button-submit:hover,
.button-submit:active {
  background: var(--colour--accent);
}

.button-cancel {
  background: #aa8850;
  color: white;
  margin-top: 0.5em;
}

input[type=text],
input[type=password],
select {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 0.5em;
  color: var(--colour--accent);
  font-family: var(--ff--primary);
}

.error {
  color: red;
}

.container {
  margin: 2em auto;
  border-radius: 4px;
  width: 75%;
  max-width: 800px;
}

.page-title {
  margin-bottom: 1em;
}

.display-panel {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 900px) {
  .wide-screen-width-55 {
    width: 55%;
  }

  .wide-screen-width-45 {
    width: 45%;
  }
}

.vertical-align {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-submit__buttons {
  display: flex;
  align-items: flex-start;
}

.form-submit__buttons > * {
  margin-right: 0.5em;
}
