/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {

}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #aa3300;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a.button {
  text-decoration: none;
}

.button {
  font-size: inherit;
  padding: 0.5em 1em;
  border: none;
  border-radius: 2px;
}

.button-add,
.button-edit {
  background: #dd7715;
  color: white;
  margin-top: 0.5em;
}

.error {
  color: red;
}

.container {
  margin: 2em auto;
  border-radius: 4px;
  width: 75%;
  max-width: 800px;
}

.page-title {
  margin-bottom: 1em;
}

.display-panel {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 900px) {
  .wide-screen-width-55 {
    width: 55%;
  }

  .wide-screen-width-45 {
    width: 45%;
  }
}

.vertical-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
