// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "styles";

body {
  background-image: url("https://images.unsplash.com/photo-1516219977482-2fd38ba6b6e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-attachment: fixed;
  background-clip: center;
  background-repeat: no-repeat;
}

/* Landing */
.landing-container {
  width: 75%;
  max-width: 800px;
  margin: 6em auto;
  background: rgba(256, 256, 256, 0.6);
}

@media (min-width: 900px){
  .landing-container {
    display: flex;
  }
}

.landing-intro {
  margin-top: 3em;
  padding: 1em 2em;
  padding-bottom: 3em;
}

.landing-intro__heading {
  margin-top: 1em;
  margin-bottom: 0.5em;
}


/* Dashboard */
.dashboard {
  background: $--colour--background;
  padding: $--padding--container;
}

.dashboard-section__content {

}

@media (min-width: 900px) {
  .dashboard-section__content {
    display: flex;
  }
}

.dog-profile {
  width: 25%;
  padding: 1em;
  background: white;
  margin: 0.5em;
}

.dog-profile__photo {
  width: 100%;
}

.dog-profile__info {
}
