// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Sign up */
.sign-up-form {
  padding: 1em 2em;
  background: #ffddbb;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.sign-up-form__entry {
  margin-bottom: 0.5em;
}

.sign-up-form__title,
.sign-up-form__input {
  display: block;
}

.sign-up-form__title {
  font-weight: 700;
  margin-bottom: 0.5em;
}

.sign-up-form__input {
  width: 100%;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 0.5em;
}

.sign-up-form__caption {
  font-weight: 300;
  font-size: 0.85rem;
  margin-top: 0.25em;
}

.sign-up-form__button {
  display: block;
  margin: 1em auto;
  color: white;
  background: #aa3300;
}

.sign-up-form__button:hover,
.sign-up-form__button:active {
  color: #aa3300;
  background: white;
}



/* Account info */
.account-info-container {
  padding: 1em 2em;
  background: #ffddbb;
  border-radius: 4px;
  width: 75%;
  max-width: 800px;
  margin: 2em auto;
}

.account-info-content {
  margin-top: 1em;
  padding: 1em 0;
}

.account-info-content__entry {
  display: flex;
}

.account-info-content__dogs {
  background: white;
  border-radius: 4px;
  padding: 1em 2em;
}

.entry__header {
  font-weight: 700;
  width: 20%;
}
